{% extends "auctions/layout.html" %}


{% block title %} Categories {% endblock %}

{% block body %}

    <h3>Categories</h3>
    <ul class="list-group list-group-flush">
        {% for shortcode, category in categories %}
        <li class="list-group-item">
            <form action="{% url 'categories' %}" method="post">
                {% csrf_token %}
                <button type="submit" id="catbutton" name="category" value="{{ shortcode }}" class="btn btn-link" >{{ category }}</button>
            </form>
        </li>
        {% endfor %}
    </ul>

{% endblock %}