{% extends "auctions/layout.html" %}

{% block title %} Index Page {% endblock %}


{% block body %}

    <h2>Active Listings</h2>
    <div class="row">

        {% for listing in listings %}
        <div class="col-lg-2 d-flex align-items-stretch" >
            <div class="card mb-2 shadow-sm" >
                    <div class="h5 card-header" style="height: 7rem;">
                        <a class="nav" href="{% url 'listing'  listing.id  %}">{{ listing.title }}</a>
                    </div>
                        <img class="card-img-top" width="100%" height="300"  src="{{ listing.image_link }}" alt="Auction item">
                    <div class="card-body">
                        <p class="card-text">{{ listing.description }}</p>
                    </div>
                    <div class="card-bottom ml-3" >
                        {% if listing.highest_bid == 0 %}
                            <p class="card-text">Current Price: {{ listing.price }}</p>
                        {% else %}
                            <p class="card-text">Current Price: {{ listing.highest_bid }}</p>
                        {% endif %}
                    </div>
            </div>
        </div>
        {% endfor %}
        
    </div>
{% endblock %}

