{% extends "auctions/layout.html" %}

{% block title %} Listing Details {% endblock %}

{% block body %}

    <section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ listing.image.url }}" alt="Auction item" onerror="this.src='/static/images/noimg.png'"></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{ listing.title }}</h1>
                <div class="fs-5 mb-5">
                    <h5 style="margin-top:20px; margin-bottom:20px">Starting Price was: $ {{ listing.price }}</h5>
                <p class="lead">{{ listing.description }}</p>

                {% if listing.active %}
                    <div>
                    <h5 style="margin-top:20px; margin-bottom:20px">Highest Bid:  $ {{ highest_bid.bid_price }}</h5>
                    <h5 style="margin-top:20px; margin-bottom:20px">Bids total: {{ bid_count }} </h5>
                    {% if creator %}
                        <form action="{% url 'end_auction' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-dark flex-shrink-20" id="end_auction" name ="end_auction" value="{{ listing.id }}" style="width: 15rem; margin-top: 20px;">End Auction</button>
                                <i class="bi-cart-fill me-1"></i>
                            </input>
                        </form>
                    {% endif %}
                    </div>
                    <div style="margin-top: 50px;" class="d-flex">
                    {% if request.user.is_authenticated %}
                        <form action="{% url 'make_bid' %}" method="post">
                            {% csrf_token %}
                            <input class="form-control text-center me-10" id="bid_price" placeholder="{{ highest_bid.bid_price }}" type="num" name="bid_price" >
                            <button type="submit" class="btn btn-outline-dark flex-shrink-20" id="make_bid" name ="make_bid" value="{{ listing.id }}" style="width: 15rem; margin-top: 20px;">Make bid</button>
                                <i class="bi-cart-fill me-1"></i>
                            </input>
                        </form>
                        {% if watchlist != True %}
                            <form action="{% url 'add_watchl' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-dark flex-shrink-10" id="add" name ="add" value="{{ listing.id }}" style="width:10rem; margin-left:100px; margin-top: 60px;">Add to watchlist</button>
                                    <i class="bi-cart-fill me-1"></i>
                                </input>
                            </form>
                        {% else %}
                            <form action="{% url 'remove_watchl' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-dark flex-shrink-10" id="remove" name ="remove" value="{{ listing.id }}" style="width: 15rem; margin-left:100px; margin-top: 60px;">Remove from watchlist</button>
                                    <i class="bi-cart-fill me-1"></i>
                                </input>
                            </form>
                        {% endif %}
                    {% endif %}
                    </div>
                {% endif %}
                
                {% if listing.winner %}
                    <div class="fs-5 mb-5">
                        <h5 style="margin-top:20px; margin-bottom:20px">This auction has finished</h5>
                        <h5 style="margin-top:20px; margin-bottom:20px">The winner is: {{ listing.winner }}</h5>
                    </div>
                {% endif %}
                
            </div>
        </div>
    </div>
    </section>
    <section class="py-5">
        <div class="container my-5 py-5">
          <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
              <div class="card">

                <!--For loop for comments-->
                {% for comment in comments %}
                  <div class="card-body">
                  <div class="d-flex flex-start align-items-center">
                    <div>
                      <h6 class="fw-bold text-primary mb-1">{{ comment.user }}</h6> 
                      <p class="text-muted small mb-0">
                        {{ comment.comment_date }}
                      </p>
                    </div>
                  </div> 
                  <p class="mt-3 mb-4 pb-2">
                    {{ comment.comment}}
                  </p>
                  </div>
                {% endfor %}








                <form action="{% url 'comment' %}" method="post">
                  {% csrf_token %}
                  	<div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                  	  <div class="d-flex flex-start w-100">
                  	    <div class="form-outline w-100">
                  	      <textarea class="form-control" name="comment" id="comment" rows="4"
                  	        style="background: #fff;"></textarea>
                  	      <label class="form-label" for="textAreaExample">Message</label>
                  	    </div>
                  	  </div>
                  	  <div class="float-end mt-2 pt-1">
                  	    <button type="submit" id="add_comment" name ="add_comment" value="{{ listing.id }}" class="btn btn-primary btn-sm">Post comment</button>
                  	  </div>
                  </form>

                  
                </div>
              </div>
              
            </div>
          </div>
        </div>
    </section>
{% endblock %}
